<a href="https://colab.research.google.com/github/Sruthi-2002/Athena/blob/main/AILAB8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [20]:
cd /content/gdrive/My Drive/AILAB9

/content/gdrive/My Drive/AILAB9

In [19]:
ls

DATASET.xlsx  final.csv

In [11]:
import pandas as pd

In [21]:
data=pd.read_csv("final.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          14 non-null     object
 1   outlook      15 non-null     object
 2   temp         15 non-null     object
 3   humidity     15 non-null     object
 4   wind         15 non-null     object
 5   temp.1       2 non-null      float64
 6   play         15 non-null     object
 7   Unnamed: 7   1 non-null      object
 8   Unnamed: 8   6 non-null      object
 9   Unnamed: 9   4 non-null      object
 10  Unnamed: 10  1 non-null      object
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  2 non-null      object
 13  Unnamed: 13  10 non-null     object
 14  Unnamed: 14  6 non-null      object
 15  Unnamed: 15  6 non-null      object
 16  Unnamed: 16  6 non-null      object
dtypes: float64(2), object(15)
memory usage: 2.5+ KB